In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.13.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: C:\Users\hp\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
data= pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\python\housedata\Housing.csv")
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
data.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
data.rename(columns={"bathroom":"waterroom"},inplace=True)

In [7]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [8]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [9]:
data['mainroad']=l.fit_transform(data['mainroad'])
data['guestroom']=l.fit_transform(data['guestroom'])
data['basement']=l.fit_transform(data['basement'])
data['hotwaterheating']=l.fit_transform(data['hotwaterheating'])
data['airconditioning']=l.fit_transform(data['airconditioning'])
data['prefarea']=l.fit_transform(data['prefarea'])
data['furnishingstatus']=l.fit_transform(data['furnishingstatus'])

In [10]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [11]:
x=data.drop(['price'],axis=1)
y=data.price
y
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,2
541,2400,3,1,1,0,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,2

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [13]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((436, 12), (109, 12), (436,), (109,))

In [14]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,2
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,2
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,2

In [15]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [16]:
model.predict(xtest)

array([3682815.75383126, 3303637.03555547, 3540237.8589646 ,
       5602647.00489214, 6626151.7053071 , 5842542.56014529,
       6172508.33087612, 4721942.73160097, 4883315.33695163,
       6554815.86986701, 2752794.05323869, 6609111.49839699,
       6581207.43989764, 4954721.90902843, 5699775.511375  ,
       3058780.49848771, 6595387.63536797, 6808053.8745615 ,
       4981149.37112057, 6126014.83060276, 4837944.98846984,
       3342573.99972636, 6537935.32185296, 5186990.20620679,
       3359882.84694423, 3532122.52455846, 2685883.58362978,
       4205159.4416009 , 3715313.70731082, 6303425.02888116,
       5538869.33378845, 4038588.19220185, 3688762.23385582,
       2782930.20241102, 5932836.45488159, 2980228.69053074,
       5410710.93400508, 7030290.34282911, 4135053.25234417,
       4088336.62379162, 4322816.3918426 , 4859186.22415094,
       4643713.43778398, 4639778.99102042, 9788725.84306614,
       4773466.5702142 , 4358124.75495501, 5157680.59028159,
       3203091.38823288, 3239828.8236248 , 4549088.06741165,
       6445851.43969822, 4318131.90668303, 5674772.60534001,
       4791463.73547721, 7035519.36496298, 6367939.67400662,
       7196174.61687649, 6248495.43765466, 6590736.42677883,
       5487817.32779672, 8057389.64595722, 4104062.47669479,
       3760593.47592176, 3032710.85963855, 7356070.87676481,
       5419111.5039058 , 4031405.44923524, 3607097.4893224 ,
       2333749.07885589, 5926673.4457832 , 4364744.49106608,
       6352657.29138729, 4840959.36389901, 4007138.7641873 ,
       2670939.41453367, 3097180.48361253, 5695957.37063326,
       6576415.52139912, 4557920.21110428, 6865202.6023854 ,
       3276972.50954263, 7326442.76834477, 3719817.14885   ,
       2950281.68274222, 2113393.46189874, 3842598.34759519,
       3395608.44858563, 8443220.9853644 , 4310348.53911383,
       5050420.02661146, 6205766.7686302 , 6119913.38698211,
       2491373.78908515, 7442707.51077801, 5785036.89017497,
       3653317.57518443, 4517017.97096421, 4093532.76730825,
       4219529.03182022, 3420434.86923143, 3380719.2248275 ,
       4494774.47747228, 4587585.24952548, 6640401.33901618,
       4639778.99102042, 6306580.61194428, 5613516.24770753,
       2777843.91626801])

In [17]:
model.score(xtest,ytest)

0.6998500607573056

In [18]:
model.predict([[3000,3,2,2,1,0,0,0,1,1,0,1]])

C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5483272.63025254])